#imagem-fundo{
    background-image: url('https://i.imgur.com/jJKUBYt.png');
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    color: #151313;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    font-weight: bold;
  }

  .bg-reintegra{
    background-color: #bcd4d4;
    height: 730px
  }
  