<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://m.media-amazon.com/images/I/712U0PCvjES._AC_SL1200_.jpg" alt="imagem do user"
                    width="50px" height="50px" class="img-fluid rounded-circle">
                </li>
                <li class="nav-item pl-3">
                    <p class="m-0 font-weight-bold text-dark fs-16">Nome do usuário </p>
                </li>
                <li class="nav-item pl-3">
                  <a href="">
                   <p class="text-dark fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                  </a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
         
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sobre-nos.component.html">Sobre nós</a>
            <a class="dropdown-item" href="/postagens.component.html">Publicações</a>
            <a class="dropdown-item" href="/login.component.html">Login</a>
            <a class="dropdown-item" href="/cadastro.component.html">Cadastro</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-dark fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
        </li>
    </ul>
    </div>
  </nav>