<div class="bg-reintegra">
<div class="container center bg-reintegra">
    <div class="row mt-5 mb-5">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2>Quem está por trás do REintegra?</h2>

        <p class="text-justify">O REintegra foi desenvolvido pelo Grupo 1, da turma 37 Recife, da Generation Brasil, no curso de desenvolvedor Web Fullstack, conheça os membros do grupo abaixo:

        </p>
      </div>
      <div class="col-md-6">
        <img src="https://i.imgur.com/2PSO9c0.png"
        alt="Reintegra" width="950px" height="650px">
          
      </div>
    </div>
  </div>
</div>
