<div class="container-fluid bg-reintegra">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2>Quem está por trás do REintegra?</h2>

        <p class="text-justify">O REintegra foi desenvolvido pelo Grupo 1, da turma 37 Recife, da Generation Brasil, no curso de desenvolvedor Web Fullstack, conheça os membros do grupo abaixo:

        </p>
      </div>
      <div class="col-md-6">
        <img src="https://i.imgur.com/HokRHCt.png"
        alt="Reintegra" width="650px" height="500px">
          
      </div>
    </div>

    <!-- CARDS -->

    <div class="row">    
        <div class="col-md-3">
          <h3>Cecília Soares</h3>
          <div class="texto">
              Texto exemplo
          </div>
          <img src="https://i.imgur.com/au3M0Vs.png" alt="Cecília" width="250px" height="250px">
        </div> 
    </div>

    <div class="row d-flex justify-content-end">    
      <div class="col-md-3">
        <h3>Cecília Soares</h3>
        <div class="texto">
            Texto exemplo
        </div>
        <img src="https://i.imgur.com/au3M0Vs.png" alt="Cecília" width="250px" height="250px">
      </div> 
    </div>

    <div class="row">    
      <div class="col-md-3">
        <h3>Cecília Soares</h3>
        <div class="texto">
            Texto exemplo
        </div>
        <img src="https://i.imgur.com/au3M0Vs.png" alt="Cecília" width="250px" height="250px">
      </div> 
    </div>

    <div class="row d-flex justify-content-end">    
      <div class="col-md-3">
        <h3>Cecília Soares</h3>
        <div class="texto">
            Texto exemplo
        </div>
        <img src="https://i.imgur.com/au3M0Vs.png" alt="Cecília" width="250px" height="250px">
      </div> 
    </div>

    <div class="row">    
      <div class="col-md-3">
        <h3>Cecília Soares</h3>
        <div class="texto">
            Texto exemplo
        </div>
        <img src="https://i.imgur.com/au3M0Vs.png" alt="Cecília" width="250px" height="250px">
      </div> 
    </div>

    <div class="row d-flex justify-content-end">    
      <div class="col-md-3">
        <h3>Cecília Soares</h3>
        <div class="texto">
          Texto exemplo
        </div>
        <img src="https://i.imgur.com/au3M0Vs.png" alt="Cecília" width="250px" height="250px">
      </div> 
    </div>
  
  </div> 
</div>