<div class="container-fluid bg-reintegra">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center fonte-texto">
        <h2>Quem está por trás do <b>REintegra?</b></h2>

        <p class="text-justify">O REintegra foi desenvolvido pelo Grupo 1, da turma 37 Recife, da Generation Brasil, no curso de desenvolvedor Web Fullstack, conheça os membros do grupo abaixo:

        </p>
      </div>
      <div class="col-md-6">
        <img src="https://i.imgur.com/HokRHCt.png"
        alt="Reintegra" width="650px" height="500px">
          
      </div>
    </div>
  </div>
    <hr class="pt-4">

    <!-- CARDS -->
    <!-- card cecília lado esquerdo da tela-->
    <div class="container">
      <div class="row mt-5 mb-5">
          <div class="col-md-3">
            <h3>Cecília Soares</h3>
            <p>Uma pernambucana, empreendedora, que ama cozinhar e se exercitar. Comunicativa, adaptável e gosta de desafios, pois acredita que tudo que nos faz sair da zona de conforto é uma oportunidade de crescimento. Desenvolvedora Web FullStack Java Júnior pela Generation Brasil, Bacharela em Direito pela UniFG. Fez transição de carreira em 2021.
              “Se for possível, eu faço. Se for impossível, me da mais 5 minutos.”</p>
              <a href="https://www.linkedin.com/in/cec%C3%ADliasoares/" target="_blank">
                <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="logo do linkedin">      
                </a>
    
                <a href="https://github.com/cecicsoares" target="_blank">
                    <img src="https://img.icons8.com/ios-filled/50/000000/github.png" alt="logo do github">      
                </a>
          </div>
          <div class="col-md-3">
            <img src="https://i.imgur.com/au3M0Vs.png" alt="Foto Cecilia" width="250px" height="250px">
          </div>
      </div>
    </div>
   
    <!-- card João lado direito da tela-->
  <div class="container">
    <div class="row mt-5 mb-5 d-flex justify-content-end">
        <div class="col-md-3">
          <h3>João Lemos</h3>
          <p>Sou um Olindense arretado, utilizador assíduo do "OXE", formado como Dev Jr Full Stack pela Generation Brasil, Graduando em Administração pela UFRPE, dando ínicio a minha carreira para desenvolver, não somente softwares, mas também ideias!</p>
          <a href="https://www.linkedin.com/in/joaolemos1993/" target="_blank">
            <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="logo do linkedin">      
            </a>

            <a href="https://github.com/JMLemos" target="_blank">
                <img src="https://img.icons8.com/ios-filled/50/000000/github.png" alt="logo do github">      
            </a>
        </div>
        <div class="col-md-3">
          <img src="https://i.imgur.com/ZupdCwP.png" alt="Foto Joao" width="250px" height="250px">
        </div>
    </div>
</div>

<!-- card Jonatas lado esquerdo da tela-->
<div class="container">
  <div class="row mt-5 mb-5">
      <div class="col-md-3">
        <h3>Jonatas Marques</h3>
        <p>Pernambucano, natural de Recife, sou formado em história mas em 2020 comecei minha transição para a tecnologia. Através de estudos autodidatas e do Bootcamp da Generation Brasil, me tornei Desenvolvedor Java Junior. Hoje, apaixonado por programação, procuro desafios que me façam crescer profissionalmente e aprender cada vez mais.</p>
        <a href="https://www.linkedin.com/in/jonatasmarquesb/" target="_blank">
          <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="logo do linkedin">      
          </a>
          <a href="https://github.com/jonatasmarquesb" target="_blank">
              <img src="https://img.icons8.com/ios-filled/50/000000/github.png" alt="logo do github">      
          </a>
      </div>
      <div class="col-md-3">
        <img src="https://i.imgur.com/XS5xc0j.png" alt="Foto Jonatas" width="250px" height="250px">
      </div>
  </div>
</div>

<!-- card Julia lado direito da tela-->
<div class="container">
<div class="row mt-5 mb-5 d-flex justify-content-end">
    <div class="col-md-3">
      <h3>Julia Sobral</h3>
      <p>Uma pernambucana sonhadora, curiosa e criativa. 
        <br>
        Formada em Desenvolvimento Java Full Stack pela Generation Brasil e Desenvolvimento Web Full Stack pelo Senac, em 2021. 
        Motivada em realizar meus sonhos e seguir descobrindo o mundo. 
        <br>
        “Acima de tudo, nunca pare de acreditar.” – As Aventuras de Pi"</p>
        <a href="https://www.linkedin.com/in/j%C3%BAlia-sobral-369137215/" target="_blank">
          <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="logo do linkedin">      
          </a>

          <a href="https://github.com/juliasobral" target="_blank">
              <img src="https://img.icons8.com/ios-filled/50/000000/github.png" alt="logo do github">      
          </a>
    </div>
    <div class="col-md-3">
      <img src="https://i.imgur.com/CVwrXpX.png" alt="Foto Julia" width="250px" height="250px">
    </div>
</div>
</div>

<!-- card Renata lado esquerdo da tela-->
<div class="container">
  <div class="row mt-5 mb-5">
      <div class="col-md-3">
        <h3>Renata Floro</h3>
        <p>Nascida e criada no estado de Pernambuco, em transição de carreira e agora sou uma desenvolvedora Java Fullstack Jr. formada pela Generation Brasil e estudante de análises e desenvolvimento de sistemas até julho de 2022. Sou uma pessoa curiosa, criativa e cada vez mais interessada em aprender e me desenvolver.</p>
        <a href="https://www.linkedin.com/in/renata-floro/" target="_blank">
          <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="logo do linkedin">      
          </a>

          <a href="https://github.com/renatafloro" target="_blank">
              <img src="https://img.icons8.com/ios-filled/50/000000/github.png" alt="logo do github">      
          </a>
      </div>
      <div class="col-md-3">
        <img src="https://i.imgur.com/0xBC8NB.png" alt="Foto Renata" width="250px" height="250px">
      </div>
  </div>
</div>

<!-- card Vinicius lado direito da tela-->
<div class="container">
<div class="row mt-5 mb-5 d-flex justify-content-end">
    <div class="col-md-3">
      <h3>Vinicius Silva</h3>
      <p> Pernambucano, ex-atleta de natação, 
          participei de projetos voluntários na área de saúde e graças a oportunidade da Generation me encontrei na tecnologia. 
          Sou uma pessoa comunicativa, proativa e acredito que o trabalho em equipe supera qualquer barreira. 
          Bem como em três meses de bootcamp eu e meu grupo criamos essa rede social, 
          onde tive um aprendizado fundamental para meu desenvolvimento. 
      </p>
        <a href="https://www.linkedin.com/in/vinicius-silva-a5427892/" target="_blank">
          <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="logo do linkedin">      
          </a>

          <a href="https://github.com/ViniciusCHR" target="_blank">
              <img src="https://img.icons8.com/ios-filled/50/000000/github.png" alt="logo do github">      
          </a>
    </div>

    <div class="col-md-3">
      <img src="https://i.imgur.com/Irt0SoZ.png" alt="Foto Vinicius" width="250px" height="250px">
    </div>
</div>
</div>
  </div> 
