<div class="bg-reintegra">
<div class="container-fluid ">

    <div class="row d-flex align-items-center ">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-dark">
                    <h1 class="fs-54">Conheça o Reintegra</h1>
                    <h5 class="fs-18">Somos uma rede social com objetivo de unir egressos das penitenciarias brasileiras que buscam uma nova oportunidade no mercado de trabalho e empresas com interesse na contratação dessas pessoas. Através do REintrega esses dois grupos poderão se conectar e tornar muito mais acessível essas oportunidades para ambos os públicos.
                    </h5>
                </div>
            </div>

        </div>


        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/HiyIuGc.png"
                alt="Pessoas conctadas pela internet" width="500px" height="500px">
        </div>
    </div>
</div>



        <!-- Copiado -->
<div class="container-fluid">
    <div class="row  d-flex align-items-center">
        <div class="col-md-6">

        <div class="row d-flex justify-content-center align-items-left">
            <div class="col-md-6 text-dark">
                <h1 class="fs-54">Conheça o Reintegra</h1>
                <h5 class="fs-18">Somos uma rede social com objetivo de unir egressos das penitenciarias brasileiras que buscam uma nova oportunidade no mercado de trabalho e empresas com interesse na contratação dessas pessoas. Através do REintrega esses dois grupos poderão se conectar e tornar muito mais acessível essas oportunidades para ambos os públicos.
                </h5>
            </div>
        </div>

   </div>


    <div class="col-md-6 mb-5 d-flex justify-content-center align-items-right">
        <img src="https://i.imgur.com/hEje3O0.png"
            alt="Pessoas conctadas pela internet" width="500px" height="500px">
    </div>
    </div>
</div>
</div>